* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: Poppins;
  src: url(./../../fonts/Poppins-Regular.ttf);
}
body {
  /*  /// Header start  //// */
}
@font-face {
  font-family: Poppins;
  src: url(./../fonts/Poppins-Regular.ttf);
}
body header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background: #1c1e53;
}
body header .container .nav {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .container .nav .navigation #home {
  color: var(--White, #fff);
}
body header .container .nav .navigation a {
  color: #bbbbcb;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body header .container .nav .navigation a:hover {
  color: #fff;
  transition: 0.5s linear ease-in-out;
}
body header .container .nav .navigation .btn {
  width: 185px;
  height: 60px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: #fff;
  padding: 16px 48px;
  cursor: pointer;
}
body header .container .nav .navigation .btn:hover {
  border: 2px solid #bbbbcb;
  color: #fff;
}
body header .container .nav a:not(:last-child) {
  margin-right: 40px;
}
body main .build_hero {
  background: var(--Tint-blue, #1c1e53);
  height: 630px;
}
body main .build_hero .build_content {
  display: flex;
  padding-top: 126px;
  gap: 80px;
}
body main .build_hero .build_content .build_texts {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
body main .build_hero .build_content .build_texts h1 {
  width: 420px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}
body main .build_hero .build_content .build_texts p {
  width: 412px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body main .build_hero .build_content .build_texts .build_btn {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 24px;
  justify-content: start;
}
body main .build_hero .build_content .build_texts .build_btn .build_btn2 {
  display: inline-flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  border-radius: 41px;
  background: #fcd980;
}
body main .build_hero .build_content .build_texts .build_btn :nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: none;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body main .build_hero .build_img img {
  max-width: 578.5px;
  height: 361.115px;
  flex-shrink: 0;
  padding-top: 30px;
}
body main .view_hero {
  margin-bottom: 100px;
}
body main .view_hero .view_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 510px;
}
body main .view_hero .view_head h1 {
  width: 467px;
  color: #282938;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
body main .view_hero .view_head a {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body main .view_hero .view_head .view_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 60px 0;
}
body main .view_hero .view_content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 32px;
}
body main .view_hero .view_content .view_texts {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background-image: url(./../images/home/Card_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 843px;
  height: 600px;
  flex-shrink: 0;
}
body main .view_hero .view_content .view_texts .view_text {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 16px;
  width: 396px;
  height: 600px;
  background-color: rgba(28, 30, 83, 0.6784313725);
}
body main .view_hero .view_content .view_texts .view_text h1 {
  padding-top: 320px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  width: 313px;
}
body main .view_hero .view_content .view_texts .view_text p {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 293px;
  margin-right: 15px;
}
body main .view_hero .view_content .view_texts .view_text a {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding-top: 20px;
}
body main .view_hero .view_content .view_texts .view_text .view_btn {
  color: var(--Yellow, #fcd980);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-right: 170px;
}
body main .view_hero .view_content .view_texts .view_text .view_btn img {
  color: #fcd980;
}
body main .view_hero .view_content .view_texts_right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
body main .view_hero .view_content .view_texts_right .view_texts_first {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 405px;
  height: 284px;
  flex-shrink: 0;
  background-image: url(../images/home/view_img2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
body main .view_hero .view_content .view_texts_right .view_texts_first .view_back {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-left: 56px;
  width: 405px;
  height: 284px;
  background-color: rgba(28, 30, 83, 0.6784313725);
}
body main .view_hero .view_content .view_texts_right .view_texts_first .view_back h1 {
  width: 200px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  padding: 60px 0 10px;
}
body main .view_hero .view_content .view_texts_right .view_texts_first .view_back a {
  color: var(--Yellow, #fcd980);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body main .view_hero .view_content .view_texts_right .view_texts_first .view_back a img {
  padding-left: 10px;
}
body main .design_hero {
  height: 1191px;
  background-color: #f4f6fc;
}
body main .design_hero .design_head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
}
body main .design_hero .design_head p {
  width: 419px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body main .design_hero .design_head h1 {
  width: 630px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
body main .design_hero .design_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-top: 47px;
}
body main .design_hero .design_content .design_cards {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 405px;
  height: 316px;
  flex-shrink: 0;
  background: #fff;
  padding: 0 0 0 40px;
  gap: 12px;
}
body main .design_hero .design_content .design_cards h1 {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding-top: 60px;
}
body main .design_hero .design_content .design_cards p {
  width: 324.079px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
body main .design_hero .design_content .img_icon h1 {
  padding: 0;
}
body main .design_hero .design_content .img_icon img {
  padding-bottom: 20px;
}
body main .client_hero {
  padding-bottom: 130px;
}
body main .client_hero .client_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
  padding-top: 128px;
}
body main .client_hero .client_content .client_texts {
  padding-bottom: 70px;
}
body main .client_hero .client_content .client_texts h1 {
  width: 327px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
body main .client_hero .client_content .client_texts p {
  width: 327px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
body main .client_hero .client_content .client_agency .agency h1 {
  width: 843px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
body main .client_hero .client_content .client_agency .client_person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
}
body main .client_hero .client_content .client_agency .client_person .client_girl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
body main .client_hero .client_content .client_agency .client_person .client_girl img {
  border-radius: 50%;
}
body main .client_hero .client_content .client_agency .client_person .client_girl .girl_texts h1 {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
body main .client_hero .client_content .client_agency .client_person .client_girl .girl_texts p {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body main .client_hero .client_content .client_agency .client_person .client_transmit {
  width: 107.2px;
  height: 48px;
  flex-shrink: 0;
  margin-right: 20px;
}
body main .client_hero .client_content .client_agency .client_person .client_transmit .transmit:hover * img {
  background-color: Dark blue;
  color: #fff;
  border-radius: 50%;
}
body footer {
  background: #1c1e53;
}
body footer .container .about-footer {
  display: flex;
  gap: 142px;
}
body footer .container .about-footer .about-footer-1 img {
  padding-top: 104px;
}
body footer .container .about-footer .about-footer-1 .footer-par {
  width: 399px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 89px;
}
body footer .container .about-footer .about-footer-1 .email-call {
  width: 517px;
  display: flex;
  gap: 30px;
  background: var(--Yellow, #fcd980);
  padding: 17px 137px 17px 37px;
  margin-bottom: 92px;
}
body footer .container .about-footer .about-footer-1 .email-call .email h6,
body footer .container .about-footer .about-footer-1 .email-call .call h6 {
  width: 108px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
body footer .container .about-footer .about-footer-1 .email-call .email p,
body footer .container .about-footer .about-footer-1 .email-call .call p {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
body footer .container .about-footer .about-footer-2 h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  padding-top: 96px;
}
body footer .container .about-footer .about-footer-2 p {
  color: var(--Grey, #f4f6fc);
  width: 399px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 14px;
  margin-bottom: 28px;
}
body footer .container .about-footer .about-footer-2 .social-network {
  align-items: center;
}
body footer .container .about-footer .about-footer-2 .social-network img {
  margin-right: 27px;
  align-items: center;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body .container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
body a {
  text-decoration: none;
}
body button {
  cursor: pointer;
  background: transparent;
  border: 0;
}
body body {
  font-family: Poppins, sans-serif;
}
body header {
  background: #1c1e53;
}
body header .container .nav {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .container .nav .navigation #home {
  color: var(--White, #fff);
}
body header .container .nav .navigation a {
  color: #bbbbcb;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body header .container .nav .navigation a:hover {
  color: #fff;
  transition: 0.5s linear ease-in-out;
}
body header .container .nav .navigation .btn {
  width: 185px;
  height: 60px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: #fff;
  padding: 16px 48px;
  cursor: pointer;
}
body header .container .nav .navigation .btn:hover {
  border: 2px solid #bbbbcb;
  color: #fff;
}
body header .container .nav a:not(:last-child) {
  margin-right: 40px;
}
body main .container .main-section1 {
  text-align: center;
}
body main .container .main-section1 h2 {
  max-width: 949px;
  width: 100%;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  font-style: normal;
  line-height: 64px;
  margin-left: 165px;
  padding-top: 128px;
  padding-bottom: 16px;
}
body main .container .main-section1 span {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body main .container .main-section1 .picture1 img {
  max-width: 1024px;
  width: 100%;
  margin-top: 32px;
  padding-bottom: 48px;
}
body main .container .main-section1 .par2 {
  color: var(--Dark-blue, #282938);
  text-align: center;
  max-width: 831px;
  width: 100%;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-left: 225px;
}
body main .container .main-section1 pre {
  color: var(--Royal-Blue, #2405f2);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-top: 16px;
  padding-bottom: 128px;
}
body main .container .main-section2 h2 {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  padding-bottom: 48px;
  text-align: center;
}
body main .container .main-section2 .cards {
  display: flex;
  gap: 32px;
  margin-bottom: 96px;
}
body main .container .main-section2 .cards .card pre {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 32px;
  padding-bottom: 16px;
}
body main .container .main-section2 .cards .card p {
  width: 404px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
body main .container .main-section2 .cards .card .text {
  width: 404px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 24px;
}
body main .container .main-section2 .cards .card .read {
  display: flex;
  gap: 12px;
  align-items: center;
}
body main .container .main-section2 .cards .card .read .read-text {
  color: var(--Tint-blue, #1c1e53);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body footer {
  background: #1c1e53;
}
body footer .container .about-footer {
  display: flex;
  gap: 142px;
}
body footer .container .about-footer .about-footer-1 img {
  padding-top: 104px;
}
body footer .container .about-footer .about-footer-1 .footer-par {
  width: 399px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 89px;
}
body footer .container .about-footer .about-footer-1 .email-call {
  width: 517px;
  display: flex;
  gap: 30px;
  background: var(--Yellow, #fcd980);
  padding: 17px 137px 17px 37px;
  margin-bottom: 92px;
}
body footer .container .about-footer .about-footer-1 .email-call .email h6,
body footer .container .about-footer .about-footer-1 .email-call .call h6 {
  width: 108px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
body footer .container .about-footer .about-footer-1 .email-call .email p,
body footer .container .about-footer .about-footer-1 .email-call .call p {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
body footer .container .about-footer .about-footer-2 h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  padding-top: 96px;
}
body footer .container .about-footer .about-footer-2 p {
  color: var(--Grey, #f4f6fc);
  width: 399px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 14px;
  margin-bottom: 28px;
}
body footer .container .about-footer .about-footer-2 .social-network {
  align-items: center;
}
body footer .container .about-footer .about-footer-2 .social-network img {
  margin-right: 27px;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  body body {
    background-color: lightblue;
  }
  body main .container .main-section1 h2 {
    margin-left: 0;
  }
  body main .container .main-section1 .par2 {
    margin-left: 0;
  }
  body .main-section1 {
    text-align: center;
  }
  body .main-section1 h2 {
    margin: 0px;
  }
  body .main-section1 span {
    color: var(--Dark-blue, #282938);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
  body .main-section1 .par2 {
    text-align: center;
    margin-left: 0;
  }
  body .main-section1 pre {
    color: var(--Royal-Blue, #2405f2);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 16px;
    padding-bottom: 128px;
  }
  body .main-section2 h2 {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    padding-bottom: 48px;
    text-align: center;
  }
  body .main-section2 .cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  body .main-section2 .cards .card pre {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 32px;
    padding-bottom: 16px;
  }
  body .main-section2 .cards .card p {
    width: 404px;
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
  body .main-section2 .cards .card .text {
    width: 404px;
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 24px;
  }
  body .main-section2 .cards .card .read {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  body .main-section2 .cards .card .read .read-text {
    color: var(--Tint-blue, #1c1e53);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
  body footer {
    background: #1c1e53;
  }
  body footer .container .about-footer {
    display: flex;
    gap: 50px;
  }
  body footer .container .about-footer .about-footer-1 img {
    padding-top: 104px;
  }
  body footer .container .about-footer .about-footer-1 .footer-par {
    width: 399px;
    color: var(--White, #fff);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 89px;
  }
  body footer .container .about-footer .about-footer-1 .email-call {
    width: 517px;
    display: flex;
    gap: 30px;
    background: var(--Yellow, #fcd980);
    padding: 17px 137px 17px 37px;
    margin-bottom: 92px;
  }
  body footer .container .about-footer .about-footer-1 .email-call .email h6,
  body footer .container .about-footer .about-footer-1 .email-call .call h6 {
    width: 108px;
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  body footer .container .about-footer .about-footer-1 .email-call .email p,
  body footer .container .about-footer .about-footer-1 .email-call .call p {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  body footer .container .about-footer .about-footer-2 h2 {
    color: #fff;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    padding-top: 96px;
  }
  body footer .container .about-footer .about-footer-2 p {
    color: var(--Grey, #f4f6fc);
    width: 399px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 14px;
    margin-bottom: 28px;
  }
  body footer .container .about-footer .about-footer-2 .social-network {
    align-items: center;
  }
  body footer .container .about-footer .about-footer-2 .social-network img {
    margin-right: 27px;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */