@use "./base/reset";

// @use 'abstracts' as *;
@use "base" as *;
// @use 'components' as *;
// @use 'layout' as *;
// @use 'pages' as *;
// @use 'themes' as *;
// @use 'vendors' as *;

body {
  @font-face {
    font-family: Poppins;
    src: url(./../fonts/Poppins-Regular.ttf);
  }
  header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    background: #1c1e53;
    .container {
      .nav {
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navigation {
          #home {
            color: var(--White, #fff);
          }
          a {
            color: #bbbbcb;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
          }
          a:hover {
            color: #fff;
            transition: 0.5s linear ease-in-out;
          }
          .btn {
            width: 185px;
            height: 60px;
            border-radius: 41px;
            border: 2px solid rgba(244, 246, 252, 0.2);
            color: #fff;
            padding: 16px 48px;
            cursor: pointer;
          }
          .btn:hover {
            border: 2px solid #bbbbcb;
            color: #fff;
          }
        }
        a:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
  }
  main {
    .build_hero {
      background: var(--Tint-blue, #1c1e53);
      height: 630px;
      .build_content {
        display: flex;
        padding-top: 126px;
        gap: 80px;
        .build_texts {
          display: flex;
          gap: 24px;

          flex-direction: column;
          h1 {
            width: 420px;
            color: var(--White, #fff);
            font-family: Poppins;
            font-size: 54px;
            font-style: normal;
            font-weight: 600;
            line-height: 74px;
          }
          p {
            width: 412px;
            color: var(--White, #fff);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
          }
          .build_btn {
            display: flex;
            align-items: center;
            gap: 40px;
            padding-top: 24px;
            justify-content: start;
          }
          .build_btn .build_btn2 {
            display: inline-flex;
            padding: 16px 56px;
            justify-content: center;
            align-items: center;
            border-radius: 41px;
            background: #fcd980;
          }
          .build_btn :nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            background-color: none;
            color: var(--White, #fff);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
          }
        }
      }
      .build_img img {
        max-width: 578.5px;
        height: 361.115px;
        flex-shrink: 0;
        padding-top: 30px;
      }
    }
    .view_hero {
      margin-bottom: 100px;
      .view_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 510px;
        h1 {
          width: 467px;
          color: #282938;
          font-family: Poppins;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 64px;
        }
        a {
          color: #282938;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
        }
        .view_btn {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 60px 0;
        }
      }
      .view_content {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 32px;

        .view_texts {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          background-image: url(./../images/home/Card_img.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 843px;
          height: 600px;
          flex-shrink: 0;
          .view_text {
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            gap: 16px;
            width: 396px;
            height: 600px;
            background-color: #1c1e53ad;
            h1 {
              padding-top: 320px;
              color: var(--White, #fff);
              font-family: Poppins;
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 36px;
              width: 313px;
            }
            p {
              color: var(--White, #fff);
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 28px;
              width: 293px;
              margin-right: 15px;
            }
            a {
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 10px;
              padding-top: 20px;
            }
            .view_btn {
              color: var(--Yellow, #fcd980);
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 28px;
              margin-right: 170px;

              img {
                color: #fcd980;
              }
            }
          }
        }
        .view_texts_right {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 32px;
          .view_texts_first {
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            width: 405px;
            height: 284px;
            flex-shrink: 0;
            background-image: url(../images/home/view_img2.png);
            background-repeat: no-repeat;
            background-size: cover;
            .view_back {
              display: flex;
              align-items: start;
              justify-content: center;
              flex-direction: column;
              padding-left: 56px;
              width: 405px;
              height: 284px;
              background-color: #1c1e53ad;
              h1 {
                width: 200px;
                color: var(--White, #fff);
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 36px;
                padding: 60px 0 10px;
              }
              a {
                color: var(--Yellow, #fcd980);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                img {
                  padding-left: 10px;
                }
              }
            }
          }
        }
      }
    }
    .design_hero {
      height: 1191px;
      background-color: #f4f6fc;
      .design_head {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 150px;
        p {
          width: 419px;
          color: var(--Dark-blue, #282938);
          text-align: center;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
        }
        h1 {
          width: 630px;
          color: var(--Dark-blue, #282938);
          text-align: center;
          font-family: Poppins;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 64px;
        }
      }
      .design_content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        padding-top: 47px;

        .design_cards {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          width: 405px;
          height: 316px;
          flex-shrink: 0;
          background: #fff;
          padding: 0 0 0 40px;
          gap: 12px;
          h1 {
            color: var(--Dark-blue, #282938);
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            padding-top: 60px;
          }
          p {
            width: 324.079px;
            color: var(--Dark-blue, #282938);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
          }
        }
        .img_icon {
          h1 {
            padding: 0;
          }
          img {
            padding-bottom: 20px;
          }
        }
      }
    }
    .client_hero {
      padding-bottom: 130px;
      .client_content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 110px;
        padding-top: 128px;
        .client_texts {
          padding-bottom: 70px;
          h1 {
            width: 327px;
            color: var(--Dark-blue, #282938);
            font-family: Poppins;
            font-size: 38px;
            font-style: normal;
            font-weight: 600;
            line-height: 56px;
          }
          p {
            width: 327px;
            color: var(--Dark-blue, #282938);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
          }
        }
        .client_agency {
          .agency {
            h1 {
              width: 843px;
              color: var(--Dark-blue, #282938);
              font-family: Poppins;
              font-size: 32px;
              font-style: normal;
              font-weight: 500;
              line-height: 48px;
            }
          }
          .client_person {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 36px;
            .client_girl {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 16px;
              img {
                border-radius: 50%;
              }
              .girl_texts {
                h1 {
                  color: var(--Dark-blue, #282938);
                  font-family: Poppins;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 32px;
                }
                p {
                  color: var(--Dark-blue, #282938);
                  font-family: Poppins;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 28px;
                }
              }
            }
            .client_transmit {
              width: 107.2px;
              height: 48px;
              flex-shrink: 0;
              margin-right: 20px;
              .transmit:hover * img {
                background-color: Dark blue;
                color: #fff;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
  footer {
    background: #1c1e53;

    .container {
      .about-footer {
        display: flex;
        gap: 142px;
        .about-footer-1 {
          img {
            padding-top: 104px;
          }
          .footer-par {
            width: 399px;
            color: var(--White, #fff);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            margin-top: 24px;
            margin-bottom: 89px;
          }
          .email-call {
            width: 517px;
            display: flex;
            gap: 30px;
            background: var(--Yellow, #fcd980);
            padding: 17px 137px 17px 37px;
            margin-bottom: 92px;
            .email,
            .call {
              h6 {
                width: 108px;
                color: var(--Dark-blue, #282938);
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
              }
              p {
                color: var(--Dark-blue, #282938);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
              }
            }
          }
        }
        .about-footer-2 {
          h2 {
            color: #fff;
            font-family: Poppins;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 64px;
            padding-top: 96px;
          }
          p {
            color: var(--Grey, #f4f6fc);
            width: 399px;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin-top: 14px;
            margin-bottom: 28px;
          }
          .social-network {
            align-items: center;
            img {
              margin-right: 27px;
              align-items: center;
            }
          }
        }
      }
    }
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
  }

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
    background: transparent;
    border: 0;
  }

  body {
    font-family: Poppins, sans-serif;
  }

  /*  /// Header start  //// */

  header {
    background: #1c1e53;
    .container {
      .nav {
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navigation {
          #home {
            color: var(--White, #fff);
          }
          a {
            color: #bbbbcb;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
          }
          a:hover {
            color: #fff;
            transition: 0.5s linear ease-in-out;
          }
          .btn {
            width: 185px;
            height: 60px;
            border-radius: 41px;
            border: 2px solid rgba(244, 246, 252, 0.2);
            color: #fff;
            padding: 16px 48px;
            cursor: pointer;
          }
          .btn:hover {
            border: 2px solid #bbbbcb;
            color: #fff;
          }
        }
        a:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
  }

  //  Main start
  main {
    .container {
      .main-section1 {
        // background: red;
        text-align: center;
        h2 {
          max-width: 949px;
          width: 100%;

          color: var(--Dark-blue, #282938);
          font-family: Poppins;
          font-size: 48px;
          text-align: center;
          font-weight: 600;
          font-style: normal;
          line-height: 64px;
          margin-left: 165px;
          padding-top: 128px;
          padding-bottom: 16px;
        }
        span {
          color: var(--Dark-blue, #282938);
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
        }

        .picture1 img {
          max-width: 1024px;
          width: 100%;
          margin-top: 32px;
          padding-bottom: 48px;
        }
        .par2 {
          color: var(--Dark-blue, #282938);
          text-align: center;
          max-width: 831px;
          width: 100%;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          margin-left: 225px;
        }
        pre {
          color: var(--Royal-Blue, #2405f2);
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          padding-top: 16px;
          padding-bottom: 128px;
        }
      }
      .main-section2 {
        h2 {
          color: var(--Dark-blue, #282938);
          font-family: Poppins;
          font-family: Poppins;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 64px;
          padding-bottom: 48px;
          text-align: center;
        }
        .cards {
          display: flex;
          gap: 32px;
          margin-bottom: 96px;
          .card {
            pre {
              color: var(--Dark-blue, #282938);
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 28px;
              padding-top: 32px;
              padding-bottom: 16px;
            }
            p {
              width: 404px;
              color: var(--Dark-blue, #282938);
              font-family: Poppins;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 36px;
            }
            .text {
              width: 404px;
              color: var(--Dark-blue, #282938);
              font-family: Poppins;
              font-style: normal;
              font-size: 16px;
              line-height: 28px;
              font-weight: 400;
              padding-top: 16px;
              padding-bottom: 24px;
            }
            .read {
              display: flex;
              gap: 12px;
              align-items: center;
              .read-text {
                color: var(--Tint-blue, #1c1e53);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    background: #1c1e53;

    .container {
      .about-footer {
        display: flex;
        gap: 142px;
        .about-footer-1 {
          img {
            padding-top: 104px;
          }
          .footer-par {
            width: 399px;
            color: var(--White, #fff);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            margin-top: 24px;
            margin-bottom: 89px;
          }
          .email-call {
            width: 517px;
            display: flex;
            gap: 30px;
            background: var(--Yellow, #fcd980);
            padding: 17px 137px 17px 37px;
            margin-bottom: 92px;
            .email,
            .call {
              h6 {
                width: 108px;
                color: var(--Dark-blue, #282938);
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
              }
              p {
                color: var(--Dark-blue, #282938);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
              }
            }
          }
        }
        .about-footer-2 {
          h2 {
            color: #fff;
            font-family: Poppins;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 64px;
            padding-top: 96px;
          }
          p {
            color: var(--Grey, #f4f6fc);
            width: 399px;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin-top: 14px;
            margin-bottom: 28px;
          }
          .social-network {
            align-items: center;
            img {
              margin-right: 27px;
              align-items: center;
            }
          }
        }
      }
    }
  }

  // MEDIA START

  @media only screen and (max-width: 1024px) {
    body {
      background-color: lightblue;
    }
    main .container .main-section1 h2 {
      margin-left: 0;
    }
    main .container .main-section1 .par2 {
      margin-left: 0;
    }
    .main-section1 {
      // background: red;
      text-align: center;
      h2 {
        margin: 0px;
      }
      span {
        color: var(--Dark-blue, #282938);
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
      }

      .par2 {
        text-align: center;
        margin-left: 0;
      }
      pre {
        color: var(--Royal-Blue, #2405f2);
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-top: 16px;
        padding-bottom: 128px;
      }
    }
    .main-section2 {
      h2 {
        color: var(--Dark-blue, #282938);
        font-family: Poppins;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px;
        padding-bottom: 48px;
        text-align: center;
      }
      .cards {
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        .card {
          pre {
            color: var(--Dark-blue, #282938);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            padding-top: 32px;
            padding-bottom: 16px;
          }
          p {
            width: 404px;
            color: var(--Dark-blue, #282938);
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
          }
          .text {
            width: 404px;
            color: var(--Dark-blue, #282938);
            font-family: Poppins;
            font-style: normal;
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            padding-top: 16px;
            padding-bottom: 24px;
          }
          .read {
            display: flex;
            gap: 12px;
            align-items: center;
            .read-text {
              color: var(--Tint-blue, #1c1e53);
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 28px;
            }
          }
        }
      }
    }

    footer {
      background: #1c1e53;

      .container {
        .about-footer {
          display: flex;
          gap: 50px;
          .about-footer-1 {
            img {
              padding-top: 104px;
            }
            .footer-par {
              width: 399px;
              color: var(--White, #fff);
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 28px;
              margin-top: 24px;
              margin-bottom: 89px;
            }
            .email-call {
              width: 517px;
              display: flex;
              gap: 30px;
              background: var(--Yellow, #fcd980);
              padding: 17px 137px 17px 37px;
              margin-bottom: 92px;
              .email,
              .call {
                h6 {
                  width: 108px;
                  color: var(--Dark-blue, #282938);
                  font-family: Poppins;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 32px;
                }
                p {
                  color: var(--Dark-blue, #282938);
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 28px;
                }
              }
            }
          }
          .about-footer-2 {
            h2 {
              color: #fff;
              font-family: Poppins;
              font-size: 48px;
              font-style: normal;
              font-weight: 600;
              line-height: 64px;
              padding-top: 96px;
            }
            p {
              color: var(--Grey, #f4f6fc);
              width: 399px;
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              margin-top: 14px;
              margin-bottom: 28px;
            }
            .social-network {
              align-items: center;
              img {
                margin-right: 27px;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}
